backend-flask
README.md
.gitpod.yml
_docs
journal/week0.md
journal/week2.md
journal/week3.md
journal/week4.md
journal/week5.md
journal/week6.md
journal/week7.md
journal/week8.md
journal/week9.md
journal/week10.md
journal/week11.md
journal/week12.md
journal/week13.md
journal/week1.md
aws
frontend-react-js